<h2>Create a Tag name</h2>

<div class="flexContainer">
  <div class="flexColumn formColumn">
    <%= form_for [@pic,@tag] do |f| %>
      <%= f.label :name, class:"formLbl" %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
